.banner{
    color: white;
    object-fit: contain;
    height: 450px;
    margin-bottom: 3rem;
}
.banner__contents{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}
.banner__title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}
.banner__description{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    max-width: 400px;
}
.banner__button{
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 2px;
    padding-inline: 2rem;
    padding-top: 0.5rem;
    margin-right: 1rem;
    background-color: rgba(51, 51, 51, 0.753);
    padding-bottom: 0.5rem;
}
.banner__button:hover{
    filter: invert(1);
    transition: all 0.3s;
}
.banner__fadebottom{
    height: 112px;
    background-image:linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.62), #111);
    position: relative;
    bottom: -33%;
    
   
}