.movie_modal__container{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.movie__modal{
    height: 500px;
    width: 600px;
    background-color: white;
    position: fixed;
    top: 15%;
    background-color: #312f2f;
    color: white;
    z-index: 9999;
    animation: fadein 0.3s ease-out;
}
.movie_modal__banner{
    position: relative;
}
.modal__buttons{
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.modal__button{
    margin-right: 1rem;
    width: 120px;
    height: 30px;
    outline: none;
    border: none;
    background-color: #111111be;
    color: white;
    cursor: pointer;
    padding: 5px;
    
}
.modal__closebtn{
   position: absolute;
   z-index: 1000;
   height: 40px;
   width: 40px;
   right: 20px;
   top: 15px;
   font-size: 1.5rem;
   font-weight: 900;
   background-color: white;
   outline: none;
   border: none;
   cursor: pointer;
   border-radius: 50%;
   text-align: center;
}
.modal__button:hover{
    filter: invert(1);
}
.modal__moviedesc{
    padding: 1rem;
}

@keyframes fadein{
    0%{
        transform: scale(0);
    }
    25%{
        transform: scale(40%);
    }
    50%{
        transform: scale(80%);
    }
    75%{
        transform: scale(120%);
    }
    100%{
        transform: scale(100%);
    }
}